@import url("https://fonts.googleapis.com/css2?family=Fraunces:wght@700&family=Montserrat:wght@400;500&display=swap");
:root {
  --Green-500: hsl(158, 36%, 37%);
  --Green-700: hsl(158, 42%, 18%);

  --Black: hsl(212, 21%, 14%);
  --Grey: hsl(228, 12%, 48%);
  --Cream: hsl(30, 38%, 92%);
  --White: hsl(0, 0%, 100%);

  --Font-size-para: 14px;

  --Family-nor: "Montserrat", sans-serif;
  --Family-ti: "Fraunces";
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: var(--Family-nor);
  background-color: var(--Cream);
  color: var(--Black);
  font-size: var(--Font-size-para);
  max-width: 1440px;
}

main {
  min-height: 100vh;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 3rem;
}
.card {
  max-width: 40rem;
  background-color: var(--White);
  border-radius: 12px;
  display: flex;
  box-shadow: 2px 4px 8px #33333317;
}
.card .card-image img {
  height: 400px;
  max-width: 28rem;
  border-radius: 12px 0 0 12px;
}
.card .card-meta {
  max-width: 30ch;
  padding: 2rem;
}
.card .card-meta .perfume {
  font-family: var(--Family-nor);
  color: var(--Grey);
  font-weight: 400;
}
.card .card-meta .perfume-name {
  font-family: var(--Family-ti);
  font-weight: 700;
  margin: 18px 0 18px 0;
}
.card .card-meta .perfume-desc {
  font-family: var(--Family-nor);
  color: var(--Grey);
  margin-bottom: 18px;
}
.card .card-meta .perfume-prices {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  margin-bottom: 18px;
}
.card .card-meta .perfume-price:first-child {
  font-family: var(--Family-ti);
  color: var(--Green-500);
  font-size: 34px;
}
.card .card-meta .perfume-price:last-child {
  font-family: var(--Family-ti);
  color: var(--Grey);
  font-size: 14px;
  text-decoration-line: line-through;
}
.card .card-meta .perfume-btn {
  color: var(--White);
  background-color: var(--Green-500);
  font-family: var(--Family-ti);
  padding: 12px 28px;
  border: none;
  border-radius: 8px;
  display: flex;
  gap: 12px;
  width: 100%;
  justify-content: center;
}

.attribution {
  position: relative;
  bottom: 0;
  text-align: center;
}
@media (max-width: 520px) {
  .card {
    flex-direction: column;
  }
  .card .card-image img {
    width: 100%;
    border-radius: 12px 12px 0 0;
  }
}
